<div>
  <h2 id="page-heading" data-cy="CreditosHeading">
    <span>Creditos</span>

    <div class="d-flex justify-content-end">
      <div class="length">
        <p>Creditos encontrados: {{ creditos?.length }}</p>
      </div>
      <button
        type="button"
        class="btn btn-primary mr-2"
        data-bs-toggle="modal"
        (click)="toggleModalFilter()"
        data-bs-target="#exampleModal"
      >
        Filtro
      </button>

      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-creditos"
        [routerLink]="['/creditos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Creditos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="creditos?.length === 0">
    <span>No creditos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="creditos && creditos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Mutual</span></th>
          <th scope="col"><span>Cliente</span></th>
          <th scope="col"><span>Monto</span></th>
          <th scope="col"><span>Pago Cuota</span></th>
          <th scope="col"><span>Cantidad Cuotas</span></th>
          <th scope="col"><span>Tomado</span></th>
          <th scope="col"><span>Inicio Pago</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let credito of creditos.credtios" data-cy="entityTable">
          <td>
            <a [routerLink]="['/creditos', credito.id, 'view']">{{ credito.id }} </a>
          </td>
          <td>
            <div *ngIf="credito.mutual">
              <a [routerLink]="['/mutual', credito.mutual?.id, 'view']">{{ credito.mutual.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="credito.cliente">
              <a [routerLink]="['/cliente', credito.cliente?.id, 'view']">{{ credito.cliente?.nombre }} {{ credito.cliente?.apellido }}</a>
            </div>
          </td>
          <td>{{ credito.monto }}</td>
          <td>{{ credito.pagoCuota }}</td>
          <td>{{ credito.cantidadCuotas }}</td>
          <td>{{ credito.tomado }}</td>
          <td>{{ credito.inicioPago }}</td>

          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/creditos', credito.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/creditos', credito.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(credito)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card w-auto">
    <div class="card-body d-flex justify-content-center">
      <button
        class="btn btn-primary m-1"
        [ngClass]="{ 'bg-white': numPage === i, 'text-dark': numPage === i }"
        *ngFor="let item of numPages; index as i"
        (click)="nextPage(i)"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>
</div>
<jhi-modal *ngIf="getModalFilter" (creditosFilter)="updateCreditos($event)"></jhi-modal>
